html {
    font-size: 0.8em;
}


/*Correction Datepicker*/

.datepicker>div {
    display: block;
}


/*Chargement*/

.modal-hide {
    /* border: 1px solid; */
    position: fixed;
    width: 150px;
    height: 150px;
    z-index: 100153;
    display: none;
    margin-left: -75px;
    top: 10%;
    left: 50%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-size: contain;
}


/*Pour les modales*/

.verif-default {
    float: left;
}

.success {
    color: green;
}

.error {
    color: red;
}


/*Logo Jouve*/

.image-logo {
    width: 150px;
    float: left;
}

.force-ligne {
    display: inline-flex;
    border-top: none !important;
}

.esp-btn {
    padding-left: 10px;
}

iframe {
    scrolling: auto;
}

.message-alert {
    font-size: xx-large;
    color: red;
    text-align: center;
    margin-top: 50px;
}


/*Hide menu*/

#menuRaptor,
#titleRaptor {
    display: none;
}


/*error 404*/

.raptor_404 {
    background-image: url(../images/raptor_404.png);
    background-size: contain;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.raptor_version {
    position: fixed;
    bottom: 50px;
}


/*Notification*/

.notification-success {
    display: block;
    border: 1px solid #dff0d8;
    width: 350px;
    min-height: 75px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    padding-top: 26px;
    text-align: center;
    background-color: #d9f7db;
    color: #33b750;
    text-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px rgba(51, 183, 74, 0.55);
}

.notification-warning {
    display: block;
    border: 1px solid #fcf8e3;
    width: 350px;
    min-height: 75px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    padding-top: 26px;
    text-align: center;
    background-color: #f4f7d9;
    color: #b7a412;
    text-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px rgba(183, 180, 51, 0.55);
}

.notification-danger {
    display: block;
    border: 1px solid #f2dede;
    width: 350px;
    min-height: 75px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    padding-top: 26px;
    text-align: center;
    background-color: #f7ead9;
    color: #b72312;
    text-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px rgba(183, 101, 51, 0.55);
}

.notification-primary {
    display: block;
    border: 1px solid #b3c5d4;
    width: 350px;
    min-height: 75px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    padding-top: 26px;
    text-align: center;
    background-color: #d9edf7;
    color: #337ab7;
    text-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px rgba(51, 122, 183, 0.55);
}

.notification-default {
    display: block;
    border: 1px solid #f5f5f5;
    width: 350px;
    min-height: 75px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    padding-top: 26px;
    text-align: center;
    background-color: #eee;
    color: #777;
    text-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px #999;
}

.white-space-nowarp {
    white-space: nowrap;
}

.espacetopbot,
espace-top-bot {
    padding-top: 10px;
    padding-bottom: 10px;
}

.overflow {
    overflow-x: scroll;
    overflow-y: scroll;
}


/*new menu*/


/* Adding gvnix styles css - NO COPIAR */


/* Custom fixed navs */

header.navbar+nav.navbar {
    /* margin-top: 20px;same margin-bottom .navbar */
}

.navbar.navbar-default.navbar-fixed-top {
    margin-top: 50px;
}

.sidebar.navbar-fixed-top {
    margin-top: 100px;
}

@media (min-width: 768px) and (max-width: 998px) {
    .navbar.navbar-default.navbar-fixed-top {
        margin-top: 100px;
    }
    .sidebar.navbar-fixed-top {
        margin-top: 150px;
    }
}


/* Custom navbar default: global*/

.navbar.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin: 0;
    border-radius: 0;
}

.navbar.navbar-default .navbar-brand {
    color: #666;
    text-shadow: none;
    min-width: 150px;
}

.navbar.navbar-default .navbar-nav>li>a {
    color: #666;
    text-shadow: none;
}

.navbar.navbar-default .navbar-nav>li>a {
    color: #666;
    text-shadow: none;
}

.navbar.navbar-default .navbar-nav>li>a:hover {
    color: #acc47f;
}

.navbar.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: #acc47f;
}

.navbar.navbar-default .navbar-nav>.active>a:hover {
    color: #608224;
    background-color: #acc47f;
}

.navbar.navbar-default .caret {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

.navbar.navbar-default .caret:hover {
    border-top-color: #333;
    border-bottom-color: #333;
}

ul#menu-content > li {
    padding-left: 5px;
}

/* Custom sidebar menu */


/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar,
.main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}


/* Add gap to nav and right windows.*/

.main {
    padding: 10px 10px 0 10px;
}


/* .....NavBar: Icon only with coloring/layout.....*/


/*small/medium side display*/

@media (min-width: 768px) {
    /*Allow main to be next to Nav*/
    .main.menufermer {
        position: absolute;
        width: calc(100% - 40px);
        /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }
    .main.menuouvrir {
        position: absolute;
        width: calc(100% - 300px);
        margin-left: 300px;
        float: right;
    }
    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover+.main {
        /*margin-left: 200px;*/
    }
    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
        min-width: 100px;
    }
    .sans-url {
        padding-right: 8px;
        min-width: 100px;
        display: block;
        padding-left: 10px;
    }
    /*custom sidebar nav*/
    nav.sidebar ul.nav.navbar-nav {
        margin: 0;
    }
    nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
    /*adds border top to first nav box */
    nav.sidebar .navbar-nav>li:first-child {
        border-top: 1px #e5e5e5 solid;
    }
    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav>li {
        border-bottom: 1px #e5e5e5 solid;
    }
    /*adds background on hover*/
    nav.sidebar .navbar-nav>li:hover {
        color: #fff;
        background-color: #43600E;
    }
    /*removes border last element*/
    nav.sidebar .navbar-nav>li.last {
        border-bottom: none;
    }
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse,
    nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    /*O quanto o menu irá esconder á esquerda*/
    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -270px;
        float: left;
        z-index: 1000;
        margin-bottom: 0px;
    }
    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }
    /* Move nav to full on mouse over*/
    nav.sidebar:hover {
        /*margin-left: 0px;*/
    }
    nav.menuouvrir {
        margin-left: 0px;
    }
    nav.menufermer {
        margin-left: -270px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 800px) {
    .nav-bottom {
        bottom: 32px;
        position: absolute;
    }
    .nav-bottom-user {
        bottom: 70px;
        position: absolute;
    }
    .nav-bottom-menu-show-hide {
        bottom: 0px;
        position: absolute;
    }
    i#DivButton {
        padding: 7px;
    }
    li.nav-bottom-menu-show-hide {
        /*background-color: rgba(0, 0, 0, 0.5);*/
    }
}

.ruban-head {
    border: 1px solid #f5f5f5;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -10px;
    height: 40px;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 5px;
    box-shadow: 1px 1px 10px black;
    text-shadow: 1px 2px 2px #9d9d9d;
    color: #286090;
}


/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {
    /*     Allow main to be next to Nav
        .main{
          width: calc(100% - 200px); keeps 100% minus nav size
          margin-left: 200px;
        }
    
        Show all nav
        nav.sidebar{
          margin-left: 0px;
          float: left;
        }
        Show hidden items on nav
        nav.sidebar .forAnimate{
          opacity: 1;
        } */
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}


/*---- FIM SLIDE MENU*/

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
    */
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
   
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    /*line-height: 28px;*/
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}


/* les sous menus */

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu ul .sub-sub-menu li:before,
.nav-side-menu li .sub-sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.sans-url {
    padding-left: 0px;
    padding-right: 8px;
    display: block;
}

.sans-url>i {
    margin-right: 9px;
}

.nav-side-menu li a i {
    /*padding-left: 10px;*/
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.correct-menu {
    display: inline-block;
}

@media (max-width: 767px) {
    .correct-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.banner-top {
    /*display: none;*/
}


/*end new menu*/

@media (max-width: 768px) {
    #navbarraptor {
        top: 0px;
        margin-top: -6px !important;
        margin-right: -13px;
        margin-left: 0px;
        margin-bottom: -17px;
    }
    #container-raptor {
        margin-top: 115px !important;
    }
    .nav-bottom-menu-show-hide {
        display: none;
    }
}


/*Text*/

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}


/*Tableau*/

tr.tr-default-height {
    height: 35px;
}


/*souris*/

.cursor-pointer {
    cursor: pointer;
}


/*toast*/

.ng-toast.ng-toast--right .ng-toast__list {
    left: auto;
    right: 0;
    /*margin-right: 90px;*/
    /*Désactiver à cause menu*/
    margin-top: 40px;
    position: fixed;
    /*Ajout à cause menu*/
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.txt-bold {
    font-weight: bold;
}

.code-container {
    border: 1px solid #c1c1c1;
    padding: 10px;
    margin-bottom: 50px;
    color: white;
    background-color: #464a4c;
}

.width-50 {
    width: 50px;
}

.width-75 {
    width: 75px;
}

.width-100 {
    width: 100px;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.width-250 {
    width: 250px;
}

.width-300 {
    width: 300px;
}

.width-350 {
    width: 350px;
}

.width-400 {
    width: 400px;
}

.width-450 {
    width: 450px;
}

.width-500 {
    width: 500px;
}


/*Réinitialisaiton margin*/

.margin-0 {
    margin: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}
/*margin top*/
.margin-top-0 {
    margin-top: 0px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

/*margin right*/
.margin-right-0 {
    margin-right: 0px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

/*margin bottom*/
.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

/*margin left*/
.margin-left-0 {
    margin-left: 0px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}



/*Rectification Padding*/

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.border-solid {
    border: 1px solid #c1c1c1;
}

.height-10 {
    height: 10px;
}

.height-20 {
    height: 20px;
}

.height-30 {
    height: 30px;
}

.height-40 {
    height: 40px;
}

.height-50 {
    height: 50px;
}

.height-60 {
    height: 60px;
}

.height-70 {
    height: 70px;
}

.height-100 {
    height: 100px;
}

.height-150 {
    height: 150px;
}

.height-200 {
    height: 200px;
}

.height-250 {
    height: 250px;
}

.height-300 {
    height: 300px;
}


/* Pour les zones qui sont à cachées lors des impresssions*/

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

.pull-right {
    float: right;
    display: flex;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    /* font-size: 1.4em; */
}

.modal-dialog {
    max-width: 600px;
}