.column {
    background-color: #ccc;
    float: left;
    width: 100%;
    padding: 2px;
    height: 250px; 
    border: 1px solid;
    margin:auto;

}
.card{
    border: solid 1px black;
    cursor: move;
}
.espace-echange{
    border: solid 1px;
}
h5 {
    color: red;
}

.code-svg path{
    border-radius: 50%;
    background-color: black;
}
.poste_douze{
    fill:#00f;
}
.poste_un{
    fill:#f00;
}

.code-svg path:hover{
    fill:black;
    cursor: pointer;
}

fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}	

legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}
.code-svg rect{
    border-radius: 50%;
    background-color: black;
}

.code-svg .niveau1:hover{
    fill:black;
    cursor: pointer;
}
.code-svg path:hover{
    fill:black;
    cursor: pointer;
}
.code-svg rect:hover{
    fill:black;
    cursor: pointer;
}

/* test */

.plan-container {
    overflow: scroll;
    height: 300px;
}

.plan {
    border: solid 1px black;
    /* min-height: 2000px; */
    min-height: 2000px;
    min-width: 8000px;
    background-image: url(../../../../ressources/images/nv3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.post-table {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.post-range {
    border: solid 1px red;
    height: 200px;
    width: 4.16%;
}
.post {
    height: 100%;
    width: 100%;
    background: gray;
}
