.column {
    background-color: #ccc;
    float: left;
    width: 100%;
    padding: 2px;
    height: 250px; 
    border: 1px solid;
    margin:auto;
    
}
.card{
    border: solid 1px black;
    cursor: move;
}
.espace-echange{
    border: solid 1px;
}
h5 {
    color: red;
}

.code-svg path{
    border-radius: 50%;
    background-color: black;
}

.code-svg p12{
    
}

.poste_douze{
    fill:#00f;
}
.poste_un{
    fill:#f00;
}

.code-svg path:hover{
    fill:black;
    cursor: pointer;
}

